*{ 
  margin: 0; 
  padding: 0; 
  box-sizing:border-box 
}

body {
  background: white;
  padding: 1rem; 

}

main { 
  display:grid;
  grid-template-columns: 1fr 30ch; 
}

.plants ol { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  list-style: none;
  font-size: 2.5rem;
}

.plants li {
  border: 1px solid grey; 
  padding: 1rem;
}
button {
  padding: .5rem;
  place-items: center;

}

button:hover {
  cursor: pointer;
}

.cart {
  display: grid;
  padding: .30rem;
  gap: .30rem;
}

.cart-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (width >= 500px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}